/*
 * ------------------------------------------------------------------------------------------------
 * "THE BEER-WARE LICENSE" (Revision 44):
 * Author: Thimo Braker <thibmorozier@gmail.com>
 * File: core/_oms-available-list.scss
 *
 * As long as you retain this notice anywhere in the file and/or the file's directory you can do
 * whatever you want with this stuff. If we meet someday, and you think this stuff is worth it, you
 * can buy me a beer in return.
 * ------------------------------------------------------------------------------------------------
 */
.oms-available-list {
    height: $oms-main-element-height;
    border: $oms-main-element-border;
    padding: $oms-main-element-padding;
    position: relative;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-direction: column;
    flex-direction: column;
    word-wrap: break-word;
    background-color: $white-base;
    background-clip: border-box;
}

@media (min-width: $oms-breakpoints-xs) {
    .oms-available-list {
        -webkit-box-shadow: $z-depth-1;
        box-shadow: $z-depth-1;
        flex: $oms-full-flex;
        max-width: $oms-full-max-width;
        margin-bottom: $spacer;
        border-radius: $md-card-border-radius;
    }
}

@media (min-width: $oms-breakpoints-lg) {
    .oms-available-list {
        -webkit-box-shadow: $oms-main-element-box-shadow-left;
        box-shadow: $oms-main-element-box-shadow-left;
        float: right;
        flex: $oms-list-flex;
        max-width: $oms-list-max-width;
        margin-bottom: 0;
        border-radius: $oms-list-border-radius-left;
    }
}
