/*
 * ------------------------------------------------------------------------------------------------
 * "THE BEER-WARE LICENSE" (Revision 44):
 * Author: Thimo Braker <thibmorozier@gmail.com>
 * File: core/_oms-item.scss
 *
 * As long as you retain this notice anywhere in the file and/or the file's directory you can do
 * whatever you want with this stuff. If we meet someday, and you think this stuff is worth it, you
 * can buy me a beer in return.
 * ------------------------------------------------------------------------------------------------
 */
.oms-item {
    // MDB button styling
    -webkit-box-shadow: $z-depth-1;
    box-shadow: $z-depth-1;
    @include button-size($btn-padding-y-basic, $btn-padding-x-basic, $btn-font-size-basic);
    -webkit-transition: $oms-item-webkit-transition;
    -o-transition: $oms-item-webkit-transition;
    transition: $oms-item-webkit-transition;
    transition: $oms-item-transition;
    margin: $btn-margin-basic;
    border: 0;
    -webkit-border-radius: $border-radius-base;
    border-radius: $border-radius-base;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: $white-base;
    // TWBS4 button styling
    font-weight: $font-weight-normal;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: $line-height-base;
    // Button block
    display: block;
    width: 100%;
    // Browser button props
    writing-mode: horizontal-tb !important;
    -webkit-appearance: none;
    appearance: none;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    align-items: flex-start;
    font-family: inherit;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    overflow: visible;
    -webkit-border-image: none;
    border-image: none;

    &::-moz-focus-inner {
        padding: 0;
        border-style: none;
    }

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        box-shadow: $z-depth-1-half;
        outline: 0;
    }

    &:disabled,
    &.disabled {
        color: $btn-link-disabled-color;
        pointer-events: none;
        opacity: $btn-disabled-opacity;
    }

    &:not([disabled]):not(:disabled):not(.disabled) {
        cursor: pointer;
    }

    &:not([disabled]):not(:disabled):not(.disabled):active,
    &:not([disabled]):not(:disabled):not(.disabled).active {
        box-shadow: $z-depth-1-half;
    }

    &.disabled,
    &:disabled {
        &:active,
        &:focus,
        &:hover {
            box-shadow: $z-depth-1;
        }
    }
}

@each $oms-item-color_name, $color_value in $mdb-colors {
    @include make-oms-item-color($oms-item-color_name, $color_value);
}
