/*
 * ------------------------------------------------------------------------------------------------
 * "THE BEER-WARE LICENSE" (Revision 44):
 * Author: Thimo Braker <thibmorozier@gmail.com>
 * File: core/_mixins.scss
 *
 * As long as you retain this notice anywhere in the file and/or the file's directory you can do
 * whatever you want with this stuff. If we meet someday, and you think this stuff is worth it, you
 * can buy me a beer in return.
 * ------------------------------------------------------------------------------------------------
 */

// Make oms-color
@mixin make-oms-list-header-color ($name, $color) {
    .oms-list-header-#{$name} {
        background-color: $color !important;
        color: set-notification-text-color($color) !important;
    }
}

// Make oms-item-color
@mixin make-oms-item-color ($name, $color) {
    .oms-item-#{$name} {
        background-color: $color !important;
        color: set-notification-text-color($color) !important;
        &:hover {
            background-color: lighten($color, 5%);
        }
        &:focus,
        &.focus {
            box-shadow: $z-depth-1-half;
        }
        &:focus,
        &:active,
        &.active {
            background-color: darken($color, 20%);
        }
        &:not([disabled]):not(.disabled):active,
        &:not([disabled]):not(.disabled).active {
            box-shadow: $z-depth-1-half;
            background-color: darken($color, 20%) !important;
        }
        &:not([disabled]):not(.disabled):active:focus,
        &:not([disabled]):not(.disabled).active:focus {
            box-shadow: $z-depth-1-half;
        }
    }
}
